<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                I know i promised you forever, No matter what matter, I will be always together with you......
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                The best result is that took you by the hand，from then on we will to meet every dawn of life......
            </p>
        </div>
    </div>
</section>
